body
{
   font-family: 'Lato', sans-serif !important;
   background-image: url(background@2x.png);
   margin: 0 auto !important;
}
.bigCursor
{
   cursor:default;
   height: 100vh;
   z-index: 100;
}
.all_body
{
   /* height: 1080px; */
}
.all_body_part4
{
   height: 2016px;
}
.row
{
   margin-left: 0px !important;
   margin-right: 0px !important;
}
header
{
   background-color: white;
   height: 125px;
   line-height: 125px;
   font-size: 35px;
   color: #514F54;
}
header img
{
   margin-right: 15px;
}
#logo
{
   width: 125px;
   height: 125px;
   float: left;
}
/* This class is added to logo in js, when switching colors by accesibility options */
.yellowLogo
{
   width: 80px !important;
   height: 80px !important;
   line-height: 80px;
   float: left;
   margin-right: 20px;
   margin-top: 18px;
}
header h1
{
   color: black;
   float:left;
   font-size: 35px;
   color: #514F54;
}
.sekcja1_all
{
   height: 200px;
}
.round
{
   background-color: white;
   border: none;
   width: 80px;
   height: 80px;
   line-height: 80px;
   border-radius: 50px;
   text-align: center;
   margin-top: 175px;
   font-size: 25px;
}
.actual_round
{
   background-color: #5AB7FF;
   border: none;
   width: 80px;
   height: 80px;
   line-height: 80px;;
   border-radius: 50px;
   text-align: center;
   margin-top: 175px;
   font-size: 25px;
}
.sekcja1_all p
{
   font-size: 25px;
   font-weight: 300;
   color: white;
   margin-top: 13px;
}
.sekcja_glowna
{
   /* height: 823px; */
}
#wybierz_opcje
{
   font-size: 25px;
   color: white;
   text-align: center;
   margin-top: 188px;
   margin-bottom: 30px;
}
#wybierz_opcje_part4
{
   font-size: 25px;
   color: white;
   text-align: center;
   margin-top: 188px;
   margin-bottom: 30px;
}
.option
{
   width: 812px;
   height: 60px;
   line-height: 60px;
   border-radius: 30px;
   background-color: white;
   color: #514F54;
   margin-bottom: 12px;
   text-align: center;
   font-size: 25px;
   font-weight: 400;
   border: none;
   transition: 0.25s;
}
/* When clicking the option for disabled people change class name, because on option was blue hover, and now its gone */
.optionDisable
{
   width: 812px;
   height: 60px;
   line-height: 60px;
   border-radius: 30px;
   background-color: black;
   color: #FFCB05;
   margin-bottom: 12px;
   text-align: center;
   font-size: 25px;
   font-weight: 400;
   border: none;
   transition: 0.25s;
}
#part4_option
{
   margin-bottom: 12px !important;
}
.option:hover
{
   background-color: #5AB7FF !important;
   transform: scale(1.01);
}
#no_color_change:hover
{
   background-color: white !important;
}
.sekcja_regulamin
{
   background-color: white;
   height: 1068px;
   text-align: center;
}
.sekcja_regulamin p
{
   font-size: 25px;
   color: #514F54;
   margin-top: 55px;
}
.regulamin
{
   width: 1088px;
   height: 636px;
   color: white;
   background-color: #2886E0;
   border-radius: 30px;
   margin-top: 24px;
   font-size: 25px;
   font-weight: 300;
   padding: 20px;
   text-align: left;
}
hr
{
   width: 80%;
   margin-top: 120px !important;
   margin-bottom: 0px !important;
}
#footer
{
   text-align: center;
   color:white;
   font-size: 25px;
}
#footer_part4
{
   text-align: center;
   color: #5AB7FF;
   font-size: 25px;
   margin-top: 10px;
}
#blue_hr
{
   width: 80%;
   height: 2px;
   background-color: #5AB7FF;
   margin-top: 97px;
   text-align: center;
}
#accepted
{
   font-size: 25px;
   color: white;
   text-align: center;
   margin-top: 200px;
}
#number
{
   font-size: 22px;
   color: white;
   text-align: center;
   margin-top: 50px;
}


/* Widoczność zaznaczenia radio */
#option1, #option2, #option3, #option4
{
   opacity: 0;
}
.flex-parent
{
   display: flex;
}
.jc-center
{
   justify-content: center;
}
#font25
{
   font-size: 25px;
   color: white;
}
#submit_button
{
   width: 84px;
   height: 84px;
   border-radius: 50px;
   font-size: 50px;
   font-weight: 300;
   border: none;
   margin-top: 35px;
   background-color: white;

}
#submit_part4
{
   width: 536px;
   height: 60px;
   background-color: #365ED5;
   color: white;
   border: none;
   border-radius: 30px;
   margin-top: 4px;
   font-size: 25;
}
#main_site_submit
{
   width: 536px;
   height: 60px;
   background-color: white;
   color: #365ED5;
   border: none;
   border-radius: 30px;
   margin-top: 48px;
}
.rules_checbox_div
{
   height: 60px;
   line-height: 60px;
   font-size: 25px;
   margin-top: 10px;
}
#accept_rules_checkbox
{
   /* width: 60px;
   height: 60px; */
   margin-right: 20px;
}
#pesel_check_p
{
   text-align: center;
   font-size: 25px;
   color: white;
   margin-top: 50px;
}
#pesel_check
{
   margin-top: 30px;
}
#pesel_check_list
{
   font-size: 25px;
   color: white;
   margin-top: 30px;
}
.sign_up
{
   width: 500px;
   height: 80px;
   line-height: 80px;
   border-radius: 20px;
   background-color: white;
   color: #514F54;
   margin-top: 30px;
   text-align: center;
   font-size: 30px;
   font-weight: 500;
   border: none;
}
td
{
   border: 1px solid white;
   padding: 5px !important;
}
.panel_login
{
   width: 512px;
   height: 60px;
   line-height: 60px;
   border-radius: 30px;
   background-color: white;
   color: #514F54;
   margin-bottom: 15px;
   text-align: center;
   font-size: 25px;
   font-weight: 400;
   border: none;
   transition: 0.25s;
}
.panel_login_submit
{
   width: 312px;
   height: 70px;
   line-height: 70px;
   border-radius: 20px;
   background-color: white;
   color: #514F54;
   margin-bottom: 15px;
   text-align: center;
   font-size: 25px;
   font-weight: 400;
   border: none;
   transition: 0.25s;
   margin-top: 50px;
}

.panel_login_submit:hover
{
   transform: scale(1.02);
   background-color: #5AB7FF;
   color: white;
}
#login_failed_p
{
   color: red;
   font-size: 20px;
   margin-top: 30px;
   text-align: center;
}

/* niepelnosprawni */

.icon
{
   position:fixed;
   z-index: 99;
   right: 20px;
   bottom: 20px;
   width:80px;
   height: 80px;
   border: none;
   background-color: white;
   border-radius: 50px;
   box-shadow: 5px 10px 8px #00000029;
   transition: 0.25s;
}
.change-cursor
{
   display: none;
   position: fixed;
   z-index: 99;
   right: 20px;
   bottom: 120px;
   width:80px;
   height: 80px;
   border: 5px solid #088ef5;
   background-color: white;
   border-radius: 50px;
   box-shadow: 5px 10px 8px #00000029;
   transition: 0.25s;
}
.change-colors
{
   display: none;
   position: fixed;
   z-index: 99;
   right: 20px;
   bottom: 220px;
   width:80px;
   height: 80px;
   border: 5px solid #088ef5;
   background-color: white;
   border-radius: 50px;
   box-shadow: 5px 10px 8px #00000029;
   transition: 0.25s;
}
.accessibility img
{
   width: 45px;
   height: 45px;
   text-align: center;
   display: block;
   margin: 0 auto;
   margin-top: 12px;
}
.icon:hover, .change-colors:hover, .change-cursor:hover
{
   transform: scale(1.03);
}


/* Media for mobile */
@media (max-width: 993px)
{
   #mobile-centered
   {
      display: flex;
      justify-content: center;
   }
   .actual_round
   {
      margin-top: 60px;
      float:left;
   }
   .round
   {
      display: none;
   }
   .p_another
   {
      display: none;
   }
   .p_actual
   {
      float: left;
      margin: 0 auto;
      margin-left: 20px;
      margin-top: 80px !important;
   }
   .sekcja1_all
   {
      height: 150px;
   }
   .sekcja1_all p
   {
      font-size: 25px;
      font-weight: 300;
      color: white;
      margin-top: 0px;
   }
   #wybierz_opcje
   {
      margin-top: 20px;
   }
}

@media (max-width: 817px)
{
   #logo
   {
      width: 88px;
      height: 88px;
      margin-top: 3px;
      float:unset;
      margin-right: 0px;
   }
   header
   {
      background-color: white;
      height: 119px;
      line-height: unset;
      text-align: center;
      width: 100%;
   }
   #main_title
   {
      text-align: center;
      font-size: 17px;
      font-weight: 700;
   }
   .sign_up
   {
      width: 300px;
   }
   .option
   {
      width: 812px;
      height: 60px;
      line-height: unset;
      font-size: 21px;
      padding-left: 12px;
      padding-right: 12px;
   }

}

@media (max-width: 570px)
{
   #submit_part4
   {
      width: 336px;
   }
   .sekcja_regulamin
   {
      background-color: white;
      height: 1110px;
      text-align: center;
   }
}

