body
{
   font-family: 'Lato', sans-serif !important;
   background-image: url(background@2x.png);
   margin: 0 auto !important;
}
.row
{
   margin-left: 0px !important;
   margin-right: 0px !important;
}
header
{
   background-color: white;
   height: 125px;
}
#logo
{
   width: 125px;
   height: 125px;
   float: left;

}
header h1
{
   color: black;
   float:left;
   font-size: 35px;
   color: #514F54;
}
.sekcja1_all
{
   height: 200px;
}
.round
{
   border: 2px solid black;
   width: 80px;
   height: 80px;
   border-radius: 50px;
   text-align: center;
}

.sekcja_glowna
{
   height: 955px;
}
#wybierz_opcje
{
   font-size: 25px;
   color: white;
   text-align: center;
}
.option
{
   width: 812px;
   height: 60px;
   line-height: 60px;;
   border-radius: 30px;
   background-color: white;
   color: #514F54;
   margin-bottom: 30px;
   text-align: center;
   font-size: 25px;
   font-weight: 400;
}

.option:hover
{
   background-color: #5AB7FF !important;
   transform: scale(1.01);
}
.flex-parent
{
   display: flex;
}
.jc-center
{
   justify-content: center;
}
#font25
{
   font-size: 25px;
   color: white;
}
hr
{
   width: 80%;
}
#footer
{
   text-align: center;
   color:white;
   font-size: 25px;
}


/* Widoczność zaznaczenia radio */
#option1, #option2, #option3, #option4
{
   opacity: 0;
}

#submit_button
{
   width: 84px;
   height: 84px;
   border-radius: 50px;
   font-size: 40px;
}